.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.menu {
  background-color: $donkerblauw;
  color: white;
  margin-top: 8px;
  padding: 18px 40px;
}

.nav-link {
  font-size: 28px;
  line-height: 30px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-toggler {
  border: none;
  padding-top: 25px;
  padding-bottom: 0;
  padding-right: 34px;

  h1 {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .menu {
    padding: 10px 10px;
  }

  .navbar-brand-img {
    width: 380px;
  }

  .navbar-toggler {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 544px) {
  .navbar-brand-img {
    width: 200px;
  }

  .navbar-toggler {
    padding-left: 0;
    padding-right: 0;

    h1 {
      font-size: 26px;
    }
  }
}

main {
  margin-top: 200px;
}
