.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.menu {
  background-color: $donkerblauw;
  color: white;
  margin-top: 8px;
  padding: 18px 40px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand-img {
  z-index: 10000;
  position: fixed;
  display: inline;
  height: 190px;
}

.navbar-toggler {
  border: none;
  padding-top: 25px;
  padding-bottom: 0;
  padding-right: 34px;

  h1 {
    margin: 0;
  }
}
