.frontpage-tk-top {
  margin-top: 18px;

  img {
    height: 30px;
    padding-bottom: 7px;
  }
}

.red-button {
  border-radius: 0;
  border: 5px solid $rood;
  margin-bottom: 0;
  padding: 14px;
  width: 310px;
  color: $rood;
  font-size: 26px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .red-button {
    width: 290px;
    font-size: 22px;
  }
}

.frontpage-down-arrow-spacer {
  padding-top: 25px;
  padding-bottom: 25px;
}

.challenge {
  margin: 0 0 25px 0;
}

.challenge-left {
  padding-top: 20px;
  padding-bottom: 6px;

  img {
    height: 64px;
    padding-bottom: 14px;
  }
}

.challenge1-right {
  background-image: url("../images/challenge1-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.challenge2-right {
  background-image: url("../images/challenge2-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
