@media (min-width: 992px) {
  .entry-padding {
    height: 300px;
  }

  .home .entry-padding {
    height: 480px;
  }
}

@media (min-width: 1200px) {
  .entry-padding {
    height: 280px;
  }

  .home .entry-padding {
    height: 400px;
  }
}

.entry-padding {
  padding: 15px;
  margin-bottom: 40px;
}

.entry-title {
  padding-top: 10px;

  a {
    color: $donkerblauw;
  }
}

time,
.post-type {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
