body {
  font-family: $font-family-text;
  word-wrap: break-word;
  color: $wit;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  background-image: url("../images/sos-background.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-family: $font-family-text;
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  color: $wit;

  a:hover {
    color: $rood;
    text-decoration: underline;
  }
}

b {
  font-weight: 600;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 34px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
}

h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.bg-grijs {
  background-color: rgba(0, 0, 0, 0.8);
}

.frontpage-logo {
  width: 110px;
}

.frontpage-logo-text {
  font-size: 19px;
  line-height: 34px;
  font-weight: 600;
}

.title p {
  font-family: $font-family-title;
  font-size: 75px;
  line-height: 80px;
  letter-spacing: 0.04em;
}

.subtitle p {
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0.04em;
}

.weight-600 {
  font-weight: 600;
}

.text-grijs {
  color: $grijs;
}

// TODO CHANGE TO DEFAULT MENU TEXT CLASS
.menu-text {
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
}

.post-arrow {
  display: inline-block;
  padding: 5px;
  width: 80px;
}

@media (max-width: 768px) {
  .title p {
    font-size: 45px;
    line-height: 50px;
  }

  .subtitle p {
    font-size: 20px;
    line-height: 22px;
  }
}

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 *
 * 1 */
.ie9 footer img[src$=".svg"] {
  width: 100%;
}

/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  footer img[src$=".svg"] {
    width: 100%;
  }
}
