/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$wit: #f1f1f1;
$grijs: #b6b6b6;
$rood: #c12e22;

$theme-colors: (
  primary: $rood
);

$font-family-text: "Libre Franklin", Arial, sans-serif;
$font-family-title: "OPTITomaso", Arial, sans-serif;

@font-face {
  font-family: OPTITomaso;
  src: url("fonts/OPTITomaso-Extended.otf") format("opentype");
}

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
