/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
$font-prefix: "~@ibm/plex";

// Primair
$donkerblauw: #00003c;
$lichtblauw: #c8ffff;

// Accent
$oker: #b37202;
$geel: #ffae20;
$magenta: #e72859;
$lightmagenta: #ff486d;

$theme-colors: (
  primary: $magenta
);

$font-family-text: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
